<app-breadcrumbs></app-breadcrumbs>

<div class="component-container courses-container">
  <div>
    <input matInput class="courses-input" (keyup)="search()" [(ngModel)]="searchValue" placeholder="Type to search">
  </div>
  <div class="courses-add">
    <button mat-raised-button class="courses-buttton courses-add-button" [routerLink]="'new'"><span
        class="material-icons">add</span>Add
      course</button>
  </div>
  <app-courses-list [FilterText]="filterText" [searchValue]="searchValueSubmitted"></app-courses-list>
</div>
