<app-breadcrumbs [courseName]="_course.name"></app-breadcrumbs>

<div class="course">
  <div class="course-container">
    <h2>{{addUpdateStr}} {{ 'COURSES.COURSES' | translate }}</h2>
    <form class="course-form" [formGroup]="courseForm">
      <mat-form-field class="course-input" appearance="outline">
        <mat-label>{{ 'COURSES.TITLE' | translate }}:</mat-label>
        <input matInput required formControlName="name" placeholder="{{ 'COURSES.TITLE_P' | translate }}">
        <mat-error *ngIf="nameControl.hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="nameControl.hasError('maxlength')">
          Max 50 symbols available
        </mat-error>
      </mat-form-field>
      <mat-form-field class="course-input" appearance="outline">
        <mat-label>{{ 'COURSES.DESC' | translate }}:</mat-label>
        <textarea matInput required formControlName="description" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="10" cdkAutosizeMaxRows="20" placeholder="{{ 'COURSES.DESC_P' | translate }}"></textarea>
        <mat-error *ngIf="descriptionControl.hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="descriptionControl.hasError('maxlength')">
          Max 500 symbols available
        </mat-error>
      </mat-form-field>
      <div class="course-duration">
        <duration-input formControlName="length"></duration-input>
        <div class="course-duration-time">
          {{ lengthControl.value ? (lengthControl.value | duration) :  null }}
        </div>
      </div>
      <date-input formControlName="date"></date-input>
      <authors-input formControlName="author" [allAuthors]="allAuthors" [SelectedAuthors]="selectedAuthors"
        (selectedAuthorsChange)="selectedAuthors = $event">
      </authors-input>
      <div class="course-submit">
        <button mat-raised-button class="course-button" (click)="cancel()">{{ 'COURSES.CANCEL' | translate }}</button>
        <button mat-raised-button class="course-button" [disabled]="!courseForm.valid"
          (click)="onSubmit(courseForm.value)">{{ 'COURSES.SAVE' | translate }}</button>
      </div>
    </form>
  </div>
</div>
