<mat-form-field class="course-input-date" appearance="outline">
  <mat-label>Date:</mat-label>
  <input matInput required placeholder="Enter Date" [value]="value" (input)="changed($event.target.value)"
    (blur)="touched()" [formControl]="_control.control">
    <mat-error *ngIf="_control.control.hasError('required')">
      Date is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="_control.control.hasError('invalid')">
      Invalid date format
    </mat-error>
</mat-form-field>
