.course-item {
    padding: 30px;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.10), 0 2px 10px 0 rgba(29, 30, 38, 0.15);
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    &-section {
        display: flex;
        justify-content: space-between;
    }
    &-title {
        font-size: 30px;
    }
    &-date {
        color: #858997;
        display: flex;
        &-duration {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        &-creation {
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
    &-actions {
        display: flex;
        &-button {
            margin-left: 20px;
            background-color: #009ECC;
            color: #ffffff;
        }
    }
    &-description {
        width: 80%;
    }
    &-star {
        font-size: 30px;
        color: orange;
    }
    &-background {
        background-color: rgba(0, 255, 213, 0.144);
    }
}