<div class="course-item" [appCoursePlate]="borderColor" [ngClass]="{'course-item-background': coursesItem.topRated}">
    <div class="course-item-section">
        <h1 class="course-item-title">
            {{coursesItem.Title}} {{coursesItem.Name | uppercase}}<span *ngIf="coursesItem.topRated" class="material-icons course-item-star">star_rate</span>
        </h1>
        <div class="course-item-date">
            <div class="course-item-date-duration">
                <span class="material-icons">access_time</span>
                <span>{{coursesItem.Duration | duration }}</span>
            </div>
            <div class="course-item-date-creation">
                <span class="material-icons">calendar_today</span>
                <span>{{coursesItem.CreationDate | date: 'dd MMM y' }}</span>
            </div>
        </div>
    </div>
    <div class="course-item-section">
        <div class="course-item-description">
            {{coursesItem.Description}}
        </div>
        <div class="course-item-actions">
            <div>
                <button mat-raised-button class="courses-buttton course-item-actions-button"><span
            class="material-icons">mode_edit</span> Edit</button>
                <button mat-raised-button class="courses-buttton course-item-actions-button delete" (click)="deletePopup()"> <span class="material-icons">delete</span>Delete</button>
                <action-popup [popupText]="popupText" [(popupVisibility)]="popupVisibility" (confirmAction)="delete($event)"></action-popup>
            </div>
        </div>
    </div>
</div>