.header {
    background: #303240;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &-items {
        display: flex;
    }
    &-item {
        display: flex;
        align-items: center;
        margin-left: 15px;
        color: #FFFFFF;
    }
    &-title {
        font-size: 18px;
        text-align: left;
        font-weight: 700;
        text-transform: uppercase;
    }
    &-logo {
        margin-right: 10px;
    }
    a {
        text-decoration: none;
    }
}

.margin-right {
    margin-right: 5px;
}

.icon {
    font-size: 40px;
    background: linear-gradient(141deg, #0079AD 11%, #B4D084 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}