<header class="header">
    <div class="component-container header-container">
        <div class="header-items">
            <div class="header-item"><span class="material-icons icon">
          play_circle_outline
        </span></div>
            <div class="header-item header-title"> video course</div>
        </div>
        <div *ngIf="isAuthenticated()" class="header-items">
            <a class="header-item header-user-info"><span class="material-icons margin-right">person</span> User login</a>
            <a class="header-item header-user-info" (click)="logout()"><span class="material-icons margin-right">logout</span> Log off</a>
        </div>
    </div>
</header>