/* You can add global styles to this file, and also import other style files */

body {
    background-color: #F5F6FA;
    font-family: Arial, Helvetica, sans-serif;
}

.component-container {
    margin: auto 85px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
